	<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/toc.js"></script>
        <script src='https://cdn.staticfile.org/lunr.js/2.3.6/lunr.min.js'></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/auto-complete.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/search.js"></script>
	<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery.perfect-scrollbar/0.6.13/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
	<script src="https://cdn.staticfile.org/featherlight/1.7.13/featherlight.min.js"></script>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/modernizr.custom-3.6.0.js" ></script>
	<script src="{{ site.baseurl }}/assets/js/learn.js"></script>
	<script src="https://cdn.staticfile.org/mermaid/8.1.0/mermaid.min.js"></script>
	<script async defer src="{{ site.baseurl }}/assets/js/buttons.js"></script>
	<script src="https://cdn.staticfile.org/highlight.js/9.15.8/highlight.min.js"></script>
	<script src="https://cdn.staticfile.org/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
	var config = {
        startOnLoad:true,
        flowchart:{
	    curve:'basis'
        }
    };
    mermaid.initialize(config);

</script>


<p style="font-size:12px; text-align:center">
注：以上所有操作如果遇到问题，请参阅 <a href="https://docs.aws.amazon.com/zh_cn/">AWS官方文档</a></p>
